@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.home{
    width: 100%;
    background-color: #273f4b;
    overflow: hidden;
    height: 100vh;
}
.chats{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    background-color: transparent;
}

.kuruk{
    color: whitesmoke;
    font-size: 25px;
}
.nav{
    background-color: #263238;
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.date{
    margin-left: calc(100% - 90px);
    font-size: 14px;
    white-space: pre;
}
.chat{
    background-color: #172b35;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: wheat;
    width: 50%;
    height: auto;
    border-radius: 10px 0;
    padding: 0 10px;
    margin: 5%;
}
.chatbox{
    display: flex;
    justify-content: center;
}
.typing{
    width: 50vw;
    height: 8vh;
    min-height: 50px;
    font-size: medium;
    border: none;
    color: white;
    background-color: #172b35;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.typing::placeholder{
    font-size: 18px;
    color: wheat;
}
.typing:focus{
    outline: none;
    border: none;
}
.send{
    height: 8vh;
    margin-top: 1vh;
    width: 8vh;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: wheat;
    background-color: #172b35;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

@media only screen and (max-width:420px){
    .login{
        width: 95vw;
    }
    .chats{
        height: 69vh;
    }
    .chatbox{
        justify-content: space-around;
    }
}